$desaturatedRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);
$darkGrayishRed: hsl(0, 6%, 24%);

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  font-family: "Josefin Sans", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  min-height: 100vh;
}

.logo {
  height: auto;
  width: 10rem;
  display: block;
  padding: 2rem;
}
.hero-mobile {
  width: 100%;
}

.hero-desktop {
  display: none;
}
.info {
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  padding: 0 2rem;
}

.heading {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.7rem;
  color: $desaturatedRed;
  text-align: center;
  margin-top: 5rem;
  span {
    font-weight: 600;
    color: $darkGrayishRed;
  }
}
.text {
  color: $desaturatedRed;
  line-height: 1.5;
  font-size: 0.9rem;
  text-align: center;
  margin: 2rem 0;
}
.form {
  position: relative;
  margin-bottom: 5rem;
}
.email {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 30px;
  border: 1px solid $desaturatedRed;
  transition: 0.3s;
  position: relative;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
.btn {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  height: auto;
  width: 4rem;
  height: 3rem;
  border-radius: 30px;
  border: 1px solid transparent;
  box-shadow: 0px 8px 20px -5px $darkGrayishRed;
  cursor: pointer;
  &:hover,
  &:focus {
    background: linear-gradient(135deg, hsl(0, 74%, 74%), hsl(0, 80%, 86%));
  }
}
.email:focus {
  outline: transparent;
  border-color: $softRed;
}
.form .warning {
  visibility: visible;
  color: $softRed;
}
.form .success {
  visibility: visible;
  color: hsl(120, 63%, 59%);
}
.form p {
  visibility: hidden;
  margin-top: 0.5rem;
  padding-left: 3rem;
  font-size: 0.7rem;
}
.error {
  visibility: hidden;
  position: absolute;
  top: 17.5%;
  right: 5rem;
}
::placeholder {
  color: $desaturatedRed;
}
@media screen and (min-width: 72.5em) {
  .hero-mobile {
    display: none;
  }
  .hero-desktop {
    display: block;
    object-fit: cover;
    width: 100%;
    min-height: 100%;
  }
  .image {
    grid-area: image;
    height: 100%;
  }
  .wrapper {
    display: grid;
    grid-template-areas:
      "logo . image"
      "form form image"
      "form form image";
    background-image: url("../images/bg-pattern-desktop.svg");
    background-size: cover;
    background-position: 0 25%;
    background-repeat: no-repeat;
  }
  .logo {
    width: 13rem;
    grid-area: logo;
    margin-left: 5rem;
    margin-top: 3rem;
  }
  .info {
    grid-area: form;
    background: none;
    margin-left: 5rem;
    width: 50%;
    .form {
      .warning,
      .success {
        font-size: 1rem;
      }
    }
  }
  .heading {
    text-align: left;
    line-height: 1.2;
    letter-spacing: 1.2rem;
    font-size: 4rem;
  }
  .text {
    font-size: 1rem;
    text-align: left;
  }
  .warning {
    font-size: 1rem;
  }
}
