@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
:root {
  font-family: "Josefin Sans", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
}

.logo {
  height: auto;
  width: 10rem;
  display: block;
  padding: 2rem;
}

.hero-mobile {
  width: 100%;
}

.hero-desktop {
  display: none;
}

.info {
  background: linear-gradient(135deg, white, #fff5f5);
  padding: 0 2rem;
}

.heading {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.7rem;
  color: #ce9797;
  text-align: center;
  margin-top: 5rem;
}

.heading span {
  font-weight: 600;
  color: #413a3a;
}

.text {
  color: #ce9797;
  line-height: 1.5;
  font-size: 0.9rem;
  text-align: center;
  margin: 2rem 0;
}

.form {
  position: relative;
  margin-bottom: 5rem;
}

.email {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 30px;
  border: 1px solid #ce9797;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  background: linear-gradient(135deg, white, #fff5f5);
}

.btn {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  height: auto;
  width: 4rem;
  height: 3rem;
  border-radius: 30px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 8px 20px -5px #413a3a;
          box-shadow: 0px 8px 20px -5px #413a3a;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background: linear-gradient(135deg, #ee8c8c, #f8bfbf);
}

.email:focus {
  outline: transparent;
  border-color: #f96262;
}

.form .warning {
  visibility: visible;
  color: #f96262;
}

.form .success {
  visibility: visible;
  color: #55d855;
}

.form p {
  visibility: hidden;
  margin-top: 0.5rem;
  padding-left: 3rem;
  font-size: 0.7rem;
}

.error {
  visibility: hidden;
  position: absolute;
  top: 17.5%;
  right: 5rem;
}

::-webkit-input-placeholder {
  color: #ce9797;
}

:-ms-input-placeholder {
  color: #ce9797;
}

::-ms-input-placeholder {
  color: #ce9797;
}

::placeholder {
  color: #ce9797;
}

@media screen and (min-width: 43.75em) {
  .hero-mobile {
    display: none;
  }
  .hero-desktop {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    min-height: 100%;
  }
  .image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    grid-area: image;
    height: 100%;
  }
  .wrapper {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "logo . image" "form form image" "form form image";
    background-image: url("../images/bg-pattern-desktop.svg");
    background-size: cover;
    background-position: 0 25%;
    background-repeat: no-repeat;
  }
  .logo {
    width: 13rem;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
    margin-left: 5rem;
    margin-top: 3rem;
  }
  .info {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: form;
    background: none;
    margin-left: 5rem;
    width: 50%;
  }
  .info .form .warning,
  .info .form .success {
    font-size: 1rem;
  }
  .heading {
    text-align: left;
    line-height: 1.2;
    letter-spacing: 1.2rem;
    font-size: 4rem;
  }
  .text {
    font-size: 1rem;
    text-align: left;
  }
  .warning {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */